.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover .btn {
    opacity: 1;
  }

  &.draggable {
    cursor: grab;
  }
}
